on early-init
    start ueventd

on init
    export PATH /sbin:/vendor/bin:/system/sbin:/system/bin:/system/xbin
    export LD_LIBRARY_PATH /vendor/lib:/system/lib
    export ANDROID_ROOT /system
    export ANDROID_DATA /data
    export EXTERNAL_STORAGE /sdcard

    symlink /system/etc /etc

    mkdir /sdcard
    mkdir /system
    mkdir /data
    mkdir /cache
    mkdir /tmp
    mkdir /dbdata
    mkdir /mnt 0775 root root
    #mount /tmp /tmp tmpfs   

on early-fs

    # rfs drivers
    insmod fsr.ko
    insmod fsr_stl.ko
    insmod rfs_glue.ko
    insmod rfs_fat.ko
    insmod sec_param.ko

on fs
    mount tmpfs tmpfs /tmp
    mount rfs /dev/stl9 /system check=no
    mount rfs /dev/stl9 /system remount
on post-fs

    write /proc/sys/kernel/panic_on_oops 1
    write /proc/sys/kernel/hung_task_timeout_secs 0
    write /proc/cpu/alignment 4
    write /proc/sys/kernel/sched_latency_ns 10000000
    write /proc/sys/kernel/sched_wakeup_granularity_ns 2000000
    write /proc/sys/kernel/sched_compat_yield 1
    write /proc/sys/kernel/sched_child_runs_first 0
    write /proc/LinuStoreIII/fsbuild_check BUILDING
on boot

    ifup lo
    hostname localhost
    domainname localdomain

    class_start default

service ueventd /sbin/ueventd
    critical

#service console /system/bin/sh
#    console

service recovery /sbin/recovery

service adbd /sbin/adbd recovery
	disabled

#on property:persist.service.adb.enable=1
#    start adbd

on property:persist.service.adb.enable=0
    stop adbd
