on post-fs

# permissions for system server and daemons (accelerometer & magnetic & proximity)
    mkdir /data/misc/sensors 0777 system misc

    chown root system /dev/mmc328x
    chown root system /dev/ecompass_ctrl
    chown root system /dev/bma222
    chown root system /dev/proximity
    
    chmod 0660 /dev/mmc328x
    chmod 0660 /dev/ecompass_ctrl
    chmod 0660 /dev/bma222
    chmod 0660 /dev/proximity

    chmod 0660 /data/misc/sensors/ecs_nvm
    chmod 0660 /data/misc/sensors/accel_offset

    chown system system /sys/class/input/input0/enable
    chown system system /sys/class/input/input0/poll_delay
    chmod 0660 /sys/class/input/input0/enable
    chmod 0660 /sys/class/input/input0/poll_delay


on boot

    chown system system /sys/class/backlight/aat1401-backlight/brightness
    chown system system /sys/class/backlight/pwm-keypad-backlight.0/brightness

    chmod 0660 /dev/bcm_kril
    chown root radio /dev/bcm_kril
    chmod 0660 /dev/bcm_vsp
    chmod 0660 /dev/bcm_atc
    chown system system /dev/bcm_kpdp
    chown shell system /dev/bcm_atc
    chmod 0660 /dev/bcm_alsa_voip
    chown radio system /dev/bcm_alsa_voip
chmod 0666 /dev/v3d
# insmod /system/lib/modules/memalloc.ko
    insmod /system/lib/modules/hx170dec.ko
    insmod /system/lib/modules/h6270enc.ko
insmod /system/lib/modules/gememalloc.ko
# insmod /system/lib/modules/ge_drv.ko
    insmod /system/lib/modules/brcm_switch.ko
    insmod /system/lib/modules/bcm_headsetsw.ko
    chmod 0777 /dev/camera
    chown system system /sys/bcm/cache
    chmod 0771 /dev/ttyGS0
    chown system system /dev/ttyGS0
    chown system system /dev/ttyS0

    chown system system /sys/module/bcm215xx_pm/parameters/debug

#for ASE application
    mkdir /data/brcm
    mkdir /data/brcm/ase
    mkdir /data/brcm/ase/extras
    mkdir /data/brcm/ase/scripts
    chmod 0777 /data/brcm
    chmod 0777 /data/brcm/ase
    chmod 0777 /data/brcm/ase/extras
    chmod 0777 /data/brcm/ase/scripts
    copy /system/etc/adb.sh /data/brcm/ase/scripts/adb.sh
    copy /system/etc/rndis.sh /data/brcm/ase/scripts/rndis.sh
    copy /system/etc/logcfg.sh /data/brcm/ase/scripts/logcfg.sh
    copy /system/etc/modem.sh /data/brcm/ase/scripts/modem.sh
    copy /system/etc/atmode.sh /data/brcm/ase/scripts/atmode.sh
    copy /system/etc/usbconfig.sh /data/brcm/ase/scripts/usbconfig.sh

    chmod 0777 /data/brcm/ase/scripts/adb.sh
    chmod 0777 /data/brcm/ase/scripts/rndis.sh
    chmod 0777 /data/brcm/ase/scripts/logcfg.sh
    chmod 0777 /data/brcm/ase/scripts/modem.sh
    chmod 0777 /data/brcm/ase/scripts/atmode.sh
    chmod 0777 /data/brcm/ase/scripts/usbconfig.sh

# for kexec
    chmod 755 /system/bin/kexec
    chmod 0771 /data
    chmod 0777 /data/kexec.sh

#runSysCmd
    mkdir /data/misc/utils 0777

#permisssion for cacheops
chmod 0666 /dev/cache-ops

# WIFI
    chmod 0770 /system/etc/wifi
    chmod 0660 /system/etc/wifi/wpa_supplicant.conf
    chown wifi wifi /system/etc/wifi/wpa_supplicant.conf
    #wpa_supplicant control socket for android wifi.c (android private socket)
    mkdir /data/misc/wifi 0770 wifi wifi
    mkdir /data/misc/wifi/sockets 0770 wifi wifi
    chmod 0770 /data/misc/wifi
    chmod 0660 /data/misc/wifi/wpa_supplicant.conf
    chown wifi wifi /data/misc/wifi
    chown wifi wifi /data/misc/wifi/wpa_supplicant.conf
    mkdir /data/misc/dhcp 0770 dhcp dhcp
    chown dhcp dhcp /data/misc/dhcp
chmod 0775 /data/misc/dhcp

    # Let wifi control BT_VREG_CTL GPIO
    chown wifi wifi /sys/class/gpio/gpio21/value
    chmod 0664 /sys/class/gpio/gpio21/value
    
# permissions for bluetooth.
    chown bluetooth bluetooth /data/misc/bluetooth
    chown bluetooth bluetooth ro.bt.bdaddr_path
    chown bluetooth bluetooth /dev/ttyS1
    chmod 0600 /dev/ttyS1
    chmod 0660 /sys/class/rfkill/rfkill0/state
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/state
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/type
# setprop service.brcm.bt.patchfile /system/bin/BCM2075C0_TestConfig_0017_TCL_CGPIO3.hcd

#for GPS files

    chown gps system /dev/ttyS2

    write /sys/class/gpio/export 56
    chown gps system /sys/class/gpio/gpio56/value
    chown gps system /sys/class/gpio/gpio56/direction
    write /sys/class/gpio/gpio56/value 0
    write /sys/class/gpio/gpio56/direction out

    write /sys/class/gpio/export 23
    chown gps system /sys/class/gpio/gpio23/value
    chown gps system /sys/class/gpio/gpio23/direction
    write /sys/class/gpio/gpio23/value 0
    write /sys/class/gpio/gpio23/direction out
    chown gps system /data/gps/glgpsctrl
    chown gps system /dev/bcm_gps
    chown gps system /dev/bcm_cntin

#for VT config
    mkdir /data/vt 0777
    chmod 0777 /system/etc/vt/3g324mConfig.val
    chmod 0777 /system/etc/vt/testplay.3gp
    chmod 0777 /system/etc/vt/testplay.jpg
    chmod 0777 /system/etc/vt/testplay.bmp
    copy /system/etc/vt/3g324mConfig.val /data/vt/3g324mConfig.val
    copy /system/etc/vt/testplay.3gp /data/vt/testplay.3gp
    copy /system/etc/vt/testplay.jpg /data/vt/testplay.jpg
    copy /system/etc/vt/testplay.bmp /data/vt/testplay.bmp
    chmod 0777 /data/vt/3g324mConfig.val
    chmod 0777 /data/vt/testplay.3gp
    chmod 0777 /data/vt/testplay.jpg
    chmod 0777 /data/vt/testplay.bmp
    chmod 0777 /mnt/sdcard/vt
# chmod 0777 /dev/pmem_adsp

    # Use misc partition for flash OTP access
    chown root radio /dev/mtd/mtd9
    chmod 0640 /dev/mtd/mtd9


# rename apanic files with timestamp
service ap_log_ren /system/bin/sh /system/etc/apanic_rename.sh
    oneshot

#runSysCmd
service runSysCmd /system/bin/runSysCmd /data/misc/utils/setusbmode.txt 70
    oneshot

# Make sure we startup btld before hcid
service btld /system/bin/logwrapper /system/bin/btld -hb 3000000 -hp /dev/ttyS1 -lpm 1 -nice -7
    user root
    group bluetooth net_bt_admin
    disabled
    oneshot

service gpsd /system/bin/glgps -c /system/etc/gps/glconfig4751.xml
    user gps
    group system sdcard_rw inet

#STOPSHIP: Remove logwrapper and -d option before production
service bluetoothd /system/bin/logwrapper /system/bin/bluetoothd -d -n
    socket bluetooth stream 660 bluetooth bluetooth
    socket dbus_bluetooth stream 660 bluetooth bluetooth
    # init.rc does not yet support applying capabilities, so run as root and
    # let bluetoothd drop uid to bluetooth with the right linux capabilities
    group bluetooth net_bt_admin misc
    disabled

#DHCP

on property:dev.bootcomplete=1
    stop dhcp-service
    start dhcp-service

on property:init.svc.wpa_supplicant=stopped
    stop dhcpcd

service wpa_supplicant /system/bin/wpa_supplicant -Dwext -ieth0 -c /data/misc/wifi/wpa_supplicant.conf
    socket wpa_eth0 dgram 660 wifi wifi
    group system wifi inet
    disabled
    oneshot

service dhcpcd_eth0 /system/bin/dhcpcd
    disabled
    oneshot

service iprenew_eth0 /system/bin/dhcpcd -n
    disabled
    oneshot

#service macloader /system/bin/macloader
# oneshot
# end of wifi

# Kexec enable
service kexec /data/kexec.sh
oneshot

#usb_portd
service console /system/bin/usb_portd
console
        user system
        group vpn net_admin net_raw radio system log mount
        oneshot

#start memsicd service
service memsicd /system/bin/memsicd
    user system
    group system
    oneshot
