import init.gt-s5830i.bt.rc
import init.gt-s5830i.fs.rc
import init.gt-s5830i.gps.rc
import init.gt-s5830i.sensors.rc
import init.gt-s5830i.usb.rc
import init.gt-s5830i.wifi.rc

on init

    # sdcard
    export EXTERNAL_STORAGE /mnt/sdcard
    mkdir /mnt/sdcard 0000 system system
    symlink /mnt/sdcard /sdcard

    # sd-ext
    export SD_EXT_DIRECTORY /mnt/sd-ext
    mkdir /mnt/sd-ext 0000 system system
    symlink /mnt/sd-ext /sd-ext

    # vold.fstab (workaround)
    symlink /system/etc/vold.fstab /etc/vold.fstab

on fs

# mount device partitions
    mount j4fs /dev/stl6 /mnt/.lfs
    mount rfs /dev/stl12 /efs nosuid nodev check=no
    mount ext4 /dev/stl9 /system wait rw noatime nodiratime noauto_da_alloc
    mount ext4 /dev/stl10 /cache wait rw nosuid nodev noatime nodiratime noauto_da_alloc
    mount ext4 /dev/stl11 /data wait rw nosuid nodev noatime nodiratime noauto_da_alloc

on post-fs-data

    chown system system /sys/module/bcm215xx_pm/parameters/debug

# Force Power Down
    chmod 0660 /sys/class/sec/pm/power_down
    chown root system /sys/class/sec/pm/power_down

# CPU Governor
    chmod 0660 /sys/class/sec/cpu/cpu_gov
    chown root system /sys/class/sec/cpu/cpu_gov
    
# waketime CSP461560
    chown radio system /sys/module/bcm_fuse_net/parameters/pdp_waketime

service charger /charger
    class charger
